{% extends "base.html" %}

{% block content %}

  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="ri-arrow-left-s-line"></i></a>
        <h2 class="message__subject">{{ messageRequests.subject }}</h4>
          <a class="message__author">{{ messageRequests.name }}</a>
          <p class="message__date">{{ messageRequests.created }}</p>
          <div class="message__body">
            {{ messageRequests.body|linebreaksbr }}
          </div>
      </div>
    </div>
  </main>

  {% endblock content %}